# Prisma Database connection
DATABASE_URL="file:./dev.db"

# Admin Secret Passkey (Used to access /admin portal)
ADMIN_PASSCODE="admin1234"

# Next.js Public App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Isolated Admin Portal URL
NEXT_PUBLIC_ADMIN_URL="http://localhost:3001"
